body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right top, #ADFDA2ff, #79EFBDff, #45E1D8ff, #11D3F3ff);
    background-repeat: no-repeat;
    min-height: 1400px;
}

.avatar {
    width: 200px;
    border-radius: 10%;
}

.card {
    width: 400px;
    position: relative;
    top: 150px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    text-align: center;
    background: #f9f9f9;
    color: #2b2839;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


    
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

